# Auto detect text files and perform LF normalization
* text=auto

# Mark HTML files as not detectable by Linguist
*.html linguist-detectable=false

# Ignore TeX files
*.tex linguist-detectable=false

# Explicitly set Python as the primary language
*.py linguist-language=Python
